* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg.jpeg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#affirmation {
  font-size: 2em;
  color: #120556;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-shadow: black 0 0 1px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

button {
  position: relative;
  top: 50px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease all;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.98);
}

#new-affirmation {
  background-color: #3498db;
}
